<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">  
  <test name="NewWorkOrder">
		<classes>
			<class name="ExecutionClasses.Onetest"/>
		</classes>
	</test> <!-- WorkOrder -->
	<test name="MyWorkOrder">
		<classes>
			<class name="ExecutionClasses.Onetest2"/>
		</classes>
	</test> <!-- WorkOrder -->
	<test name="SubmitRecords">
		<classes>
			<class name="ExecutionClasses.Onetest3"/>
		</classes>
	</test> <!-- WorkOrder -->
</suite> <!-- Suite -->
